body {
  background-color: #f8f9fa;
  font-family: "Arial Regular", Helvetica, sans-serif;
  color: #262626;
  margin: 0;
}

.header {
  text-align: center;
  font-size: 23pt;
  background-color: #ffffff;
  padding: 1em;
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
}
