body {
  background-color: #f8f9fa;
  font-family: "Arial Regular", Helvetica, sans-serif;
  color: #262626;
  margin: 0;
}

.header {
  text-align: center;
  font-size: 23pt;
  background-color: #ffffff;
  padding: 1em;
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
}

.dropdown {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 4%;
  margin-bottom: 3%;
}

.menuButton {
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
  border-radius: 5px;
}

.icon {
  width: 5em;
  position: "relative";
  top: "5px";
}

.weatherContainer {
  margin-left: 5%;
  margin-right: 5%;
  padding: 1%;
}

.forecastContainer {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 5%;
}
